{{template "header" .}}
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <a href="/">Build Info</a>
    </h3>
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="border-t bg-gray-200">
    <dl>

    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class=" row-span-%d text-sm font-medium text-gray-500">
        GitSHA
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{ .GitSHA }}
      </dd>
    </div>

    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class=" row-span-%d text-sm font-medium text-gray-500">
        Timestamp
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{ .Timestamp }}
      </dd>
    </div>

    </dl>
    </div>
  </div>
</div>
{{template "footer" .}}
